<% if users.any? %>
  <ul class="media-list">
    <% users.each do |user| %>
      <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
          <li><%= link_to user.user_name, user_path(user) %></li>
          <li><%= '@'+ user.user_code %></li>
          <li><%= 'Profile:'+ user.profile%></li>
          <% if logged_in? %>
            <li><%= render 'relationships/follow_button', user: user %></li>
          <% end %>
          </div>
        </div>
      </div>
      </div>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>