<ul class="media-list">
  <% novels.each do |novel| %>
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-body">
        <div class="text-center">
          <h5>
            <%= link_to novel.title, novel_path(novel.id) %>
          </h5>
          <div>
            <li>作者:<%= link_to novel.user.user_name, user_path(novel.user) %></li>
            <li>ページ数:<%= novel.chapters.count %></li>
            <li>購読者数:<%= novel.subscribe_users.count %></li>
            <li>応援数:<%= novel.like_users.count %></li>
          </div>
        </div>
        </div>
        <div class="text-center">
            <% if current_user == novel.user %>
            <% else %>
              <%= render 'friendships/subscribe_button', novel: novel %>
              <%= render 'friendships/like_button', novel: novel %>
            <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate novels %>
</ul>