<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for(@novel) do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
          <div class="form-group">
            <%= f.label :title, 'title(necessary)(up to 100 letters)' %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :atmosphere, 'atmosphere' %>
            <%= f.select :atmosphere,[["others"],["funny"],["serious"]] %>
          </div>
          
          <div class="form-group">
            <%= f.label :resume, 'summary(up to 255 letters)' %>
            <%= f.text_area :resume, class: 'form-control', rows: 10, placeholder: 'write summary here!'%>
          </div>

          <div class="text-center">
            <%= f.submit 'post', class: 'btn btn-info' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
