
<% chapters.each_with_index do |chapter, index| %>
  
  <div class="col-xs-9">
    <li>
        <% if chapter.chapter_title == "" %>
          <%= link_to "read the contents", novel_chapter_path(chapter.novel, chapter) %>
        <% else %>
          Chapter <%= index + 1 %> 　 『<%= link_to chapter.chapter_title, novel_chapter_path(chapter.novel, chapter) %>』
        <% end %>
  </div>
  <div class="col-xs-3">
        <% if current_user == chapter.novel.user %>
          <%= link_to 'edit', edit_novel_chapter_path(chapter.novel, chapter), class: 'btn btn-default' %>
          <%= link_to 'delete', novel_chapter_path(chapter.novel, chapter), method: :delete, data: { confirm: "Do you really want to delete?" }, class: 'btn btn-danger' %>
        <% else %>
        <% end %>
  </div>
  </li>
<% end %>
<% if current_user == @novel.user %>
  <%= link_to 'create a new chapter', new_novel_chapter_path(@novel), class: 'btn btn-default btn-lg' %>
<% end %>
<%= paginate chapters %>