<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2><%= link_to @novel.title, @novel %></h2>
        <%= form_for([@novel, @chapter]) do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
            <div class="form-group">
              <%= f.label :chapter_title, 'chapter title(up to 100 letters)' %>
              <%= f.text_field :chapter_title, class: 'form-control' %>
            </div>
            
            <div class="form-group">
              <%= f.label :content, 'sentences(necessary)(up to 10000 letters)' %>
              <%= f.text_area :content, class: 'form-control', rows: 10, placeholder: 'write sentences here!' %>
            </div>

            <div class="text-center">
              <%= f.submit 'post', class: 'btn btn-info' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>